# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/
.env

# Node
node_modules/
dist/
.env.local

# DB
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Logs
*.log
